In [1]:
import pandas as pd
import numpy as np
import json

clean merged covid dataset

In [2]:
df_clean = pd.read_csv('/Users/saraisidebroggini/code/dorien-er/lung_pollution/lung_pollution/data/covid_pollution_clean.csv')

map counties dataset

In [3]:
url = 'https://raw.githubusercontent.com/isellsoap/deutschlandGeoJSON/main/4_kreise/1_sehr_hoch.geo.json'
dfObj = pd.read_json(url)

list_ids = []
list_counties = []
list_coords = []
list_code_counties = []
for i in range(len(dfObj['features'])):
    list_ids.append(dfObj["features"][i]["id"])
    list_counties.append(dfObj["features"][i]["properties"]["NAME_3"])
    list_coords.append(dfObj["features"][i]["geometry"]['coordinates'][0])
    list_code_counties.append(dfObj["features"][i]["properties"]["ID_3"])
    

df_map = pd.DataFrame(list(zip(list_ids, list_counties, list_coords,list_code_counties)), columns =['Id', 'County', 'Coordinates','Id_counties'])

In [4]:
len(df_clean['county'].unique())

400

!!!! StädteRegion Aachen

!!!! Berlin

In [5]:
len(df_map['County'])

434

In [6]:
len(df_map['County'].unique())

434

In [7]:
len(df_clean['county'])

4000

In [8]:
df_clean.head()

,Unnamed: 0,county,year,NO2_annualMean,NO2_hrOver200,NO_annualMean,O3_annualMean,O3_daysOver120,O3_dailyMaxAnnualMean,O3_dailyHourlyMax,...,PM10_daysOver50,PM2.5_annualMean,BL,EWZ,Shape__Area,death_rate,cases,deaths,cases_per_100k,deaths_per_100k
0,0,Berlin,2010,21.33097,0.0,4.689645,48.14162,1.321674,75.383964,179.320467,...,30.28571,20.56858,Berlin,259169,8.933202e+08,1.591636,242813,3759,6640.688066,103.703091
1,1,Berlin,2011,21.10792,0.0,5.591758,46.78272,1.405013,75.515257,179.361973,...,25.57143,20.17655,Berlin,259169,8.933202e+08,1.591636,242813,3759,6640.688066,103.703091
2,2,Berlin,2012,20.65600,0.0,5.372472,45.26885,1.513209,75.685711,179.415858,...,11.00000,17.18541,Berlin,259169,8.933202e+08,1.591636,242813,3759,6640.688066,103.703091
3,3,Berlin,2013,19.16632,0.0,4.376160,47.91164,0.142857,73.145140,171.855700,...,13.00000,15.83933,Berlin,259169,8.933202e+08,1.591636,242813,3759,6640.688066,103.703091
4,4,Berlin,2014,20.46666,0.0,15.755060,47.80345,0.000000,71.659810,181.968600,...,22.00000,19.77463,Berlin,259169,8.933202e+08,1.591636,242813,3759,6640.688066,103.703091

In [9]:
df_clean.sort_values(['year','county'], axis=0, ascending=True,inplace=True,ignore_index=True)
df_clean.head()

,Unnamed: 0,county,year,NO2_annualMean,NO2_hrOver200,NO_annualMean,O3_annualMean,O3_daysOver120,O3_dailyMaxAnnualMean,O3_dailyHourlyMax,...,PM10_daysOver50,PM2.5_annualMean,BL,EWZ,Shape__Area,death_rate,cases,deaths,cases_per_100k,deaths_per_100k
0,0,Berlin,2010,21.330970,0.000000,4.689645,48.141620,1.321674,75.383964,179.320467,...,30.285710,20.568580,Berlin,259169,8.933202e+08,1.591636,242813,3759,6640.688066,103.703091
1,10,LK Ahrweiler,2010,18.636640,0.007228,12.197937,49.207581,0.940973,74.784202,179.130865,...,9.928116,13.473777,Rheinland-Pfalz,130479,7.867482e+08,1.009623,6339,64,4858.253052,49.050039
2,20,LK Aichach-Friedberg,2010,18.353241,0.007075,11.095558,50.442347,1.444676,75.577742,179.381726,...,5.043285,13.028828,Bayern,135024,7.796361e+08,1.421619,7808,111,5782.675672,82.207608
3,30,LK Alb-Donau-Kreis,2010,17.908725,0.006834,11.399366,49.325292,0.988992,74.859851,179.154780,...,5.681758,12.995508,Baden-Württemberg,198204,1.356377e+09,1.460202,12601,184,6357.591169,92.833646
4,40,LK Altenburger Land,2010,18.530479,0.007171,10.825919,50.679357,1.541360,75.730060,179.429878,...,5.035504,13.374456,Thüringen,88356,5.697932e+08,3.458946,9049,313,10241.522930,354.248721

In [28]:
ls_first_complete = df_clean['county'].unique()

In [11]:
ls_SK = []
ls_LK = []
for i in ls_first_complete:
    if i[0:3]=='SK ':
        ls_SK.append(i)
    else:
        ls_LK.append(i)

In [29]:
ls_LK_copy = ls_LK.copy()

In [13]:
ls_LK.index('Region Hannover') #this is where it gets different

293

In [14]:
#del ls_LK[293:] #to get only LK

In [15]:
#ls_LK.insert(0, 'LK Ahrweiler')

ls_LK_copy = ls_LK.copy()

In [30]:
ls_LK_copy = ls_LK.copy()

1. pop lk sk from copy list
2. create dict where keys clean_df and values other df
3. match and if not drop from second column
4. add Berlin and AAchen manually

In [17]:
ls_SK_copy = ls_SK.copy()
ls_SK_copy_clean = []
for i in ls_SK_copy:
    ii= i.replace('SK ', '')
    ls_SK_copy_clean.append(ii)

In [18]:
len(ls_SK_copy_clean) ==len (ls_SK_copy)

True

In [19]:
ls_LK_copy = ls_LK.copy()

In [20]:

ls_LK_copy_clean = []
for i in ls_LK_copy:
    ii= i.replace('LK ', '')
    ls_LK_copy_clean.append(ii)

In [21]:
len(ls_LK_copy_clean ) == len(ls_LK_copy)

True

In [22]:
ls_joined_clean_covid = ls_LK_copy_clean + ls_SK_copy_clean

In [23]:
len(ls_joined_clean_covid)

400

In [24]:
len(ls_first_complete)

400

ls_NONE= []
ls_ok = []
for i in ls_first_complete:
    if i[3:]=='SK 'or i[3:]=='LK ':
        ls_ok.append(i)
    else:
        ls_NONE.append(i)

In [ ]:
### problem: unique is less than non unique in clean df

In [ ]:
### solution: identify non unique values

In [34]:
ls_clean_map = []
ls_problems = []

ls_map_total=df_map['County'].unique()
ls_map_total = sorted(ls_map_total)
# broken loop for i,j in zip(ls_joined_clean_covid, ls_map_total):
  #broken  if i == j:
 #       ls_clean_map.append(i)
 #   else:
       
   #    ls_problems.append(i)

In [25]:
ls_joined_clean_covid = sorted(ls_joined_clean_covid)

In [26]:
len(ls_joined_clean_covid)

400

In [36]:
ls_map_total = sorted(ls_map_total)
len(ls_map_total)

434

In [47]:
main_list = (set(ls_joined_clean_covid) - set(ls_map_total))

In [48]:
len(main_list)

130

In [51]:
main_list

{'Alb-Donau-Kreis',
 'Amberg',
 'Anhalt-Bitterfeld',
 'Baden-Baden',
 'Bielefeld',
 'Bochum',
 'Bodenseekreis',
 'Bonn',
 'Bottrop',
 'Brandenburg a.d.Havel',
 'Braunschweig',
 'Bremen',
 'Bremerhaven',
 'Börde',
 'Chemnitz',
 'Cottbus',
 'Darmstadt',
 'Delmenhorst',
 'Dessau-Roßlau',
 'Dillingen a.d.Donau',
 'Dortmund',
 'Dresden',
 'Duisburg',
 'Düsseldorf',
 'Emden',
 'Ennepe-Ruhr-Kreis',
 'Enzkreis',
 'Erfurt',
 'Erlangen',
 'Erzgebirgskreis',
 'Essen',
 'Flensburg',
 'Frankenthal',
 'Frankfurt (Oder)',
 'Frankfurt am Main',
 'Freiburg i.Breisgau',
 'Gelsenkirchen',
 'Gera',
 'Görlitz',
 'Hagen',
 'Halle',
 'Hamburg',
 'Hameln-Pyrmont',
 'Hamm',
 'Harz',
 'Heidekreis',
 'Heidelberg',
 'Herne',
 'Herzogtum Lauenburg',
 'Hohenlohekreis',
 'Ingolstadt',
 'Jena',
 'Kaufbeuren',
 'Kempten',
 'Kiel',
 'Kleve',
 'Koblenz',
 'Krefeld',
 'Köln',
 'Landau i.d.Pfalz',
 'Landsberg a.Lech',
 'Leipzig',
 'Leverkusen',
 'Ludwigshafen',
 'Ludwigslust-Parchim',
 'Lübeck',
 'Magdeburg',
 'Main-Tauber-Kreis',
 'Main-Taunus-Kreis',
 'Mainz',
 'Mannheim',
 'Mansfeld-Südharz',
 'Mecklenburgische Seenplatte',
 'Memmingen',
 'Mittelsachsen',
 'Mönchengladbach',
 'Mühldorf a.Inn',
 'Mülheim a.d.Ruhr',
 'Münster',
 'Neumarkt i.d.OPf.',
 'Neumünster',
 'Neustadt a.d.Aisch-Bad Windsheim',
 'Neustadt a.d.Waldnaab',
 'Neustadt a.d.Weinstraße',
 'Nienburg (Weser)',
 'Nordsachsen',
 'Nürnberg',
 'Oberhausen',
 'Pfaffenhofen a.d.Ilm',
 'Pforzheim',
 'Pirmasens',
 'Potsdam',
 'Region Hannover',
 'Remscheid',
 'Rhein-Hunsrück-Kreis',
 'Rhein-Lahn-Kreis',
 'Rhein-Sieg-Kreis',
 'Rostock',
 'Rotenburg (Wümme)',
 'Saale-Holzland-Kreis',
 'Saale-Orla-Kreis',
 'Saalekreis',
 'Saarpfalz-Kreis',
 'Salzgitter',
 'Salzlandkreis',
 'Schwabach',
 'Schwerin',
 'Solingen',
 'Speyer',
 'Stadtverband Saarbrücken',
 'Straubing',
 'Stuttgart',
 'StädteRegion Aachen',
 'Suhl',
 'Sächsische Schweiz-Osterzgebirge',
 'Trier',
 'Ulm',
 'Unstrut-Hainich-Kreis',
 'Vorpommern-Greifswald',
 'Vorpommern-Rügen',
 'Weiden i.d.OPf.',
 'Weimar',
 'Wiesbaden',
 'Wilhelmshaven',
 'Wolfsburg',
 'Worms',
 'Wunsiedel i.Fichtelgebirge',
 'Wuppertal',
 'Zweibrücken',
 'Zwickau'}

In [53]:
main_list2 = (set(ls_map_total) - set(ls_joined_clean_covid))

set()