In [2]:
import pandas as pd

# Import datasets

## Import Covid Data

In [23]:
covid_df = pd.read_csv('../raw_data/RKI_corona_landskreise.csv')

covid_df.shape

(411, 47)

In [24]:
covid_df.head()

,OBJECTID,ADE,GF,BSG,RS,AGS,SDV_RS,GEN,BEZ,IBZ,...,cases7_per_100k,recovered,EWZ_BL,cases7_bl_per_100k,cases7_bl,death7_bl,cases7_lk,death7_lk,cases7_per_100k_txt,AdmUnitId
0,1,4.0,4.0,1.0,1001,1001.0,1.001000e+10,Flensburg,Kreisfreie Stadt,40.0,...,111.192652,NaN,2910875,97.908704,2850,4,100,0,"111,2",1001
1,2,4.0,4.0,1.0,1002,1002.0,1.002000e+10,Kiel,Kreisfreie Stadt,40.0,...,122.870548,NaN,2910875,97.908704,2850,4,303,0,"122,9",1002
2,3,4.0,4.0,1.0,1003,1003.0,1.003000e+10,Lübeck,Kreisfreie Stadt,40.0,...,108.410626,NaN,2910875,97.908704,2850,4,234,0,"108,4",1003
3,4,4.0,4.0,1.0,1004,1004.0,1.004000e+10,Neumünster,Kreisfreie Stadt,40.0,...,127.651586,NaN,2910875,97.908704,2850,4,102,0,"127,7",1004
4,5,4.0,4.0,1.0,1051,1051.0,1.051004e+10,Dithmarschen,Kreis,42.0,...,75.796805,NaN,2910875,97.908704,2850,4,101,0,"75,8",1051

## Import Pollution Data

In [35]:
pollution_df = pd.read_csv('../raw_data/APexpose.csv')
pollution_df.shape

(12060, 19)

In [36]:
pollution_df.head()

,year,county,kreis_code,scenario,ISO_code,Kreis_Scluessel,Lon,Lat,NO2_annualMean,NO2_hrOver200,NO_annualMean,O3_annualMean,O3_daysOver120,O3_dailyMaxAnnualMean,O3_dailyHourlyMax,O3_daily8HrMax,PM10_annualMean,PM10_daysOver50,PM2.5_annualMean
0,2019,SK Freiburg i.Breisgau,12,remote,DE.BW.FB,8311,7.818076,47.992523,15.757110,0.000000,6.600048,55.451900,6.000000,83.706030,218.500000,206.925000,12.473230,2.000000,8.984028
1,2019,LK Dillingen a.d.Donau,68,remote,DE.BY.DD,9773,10.527764,48.596404,18.953264,0.004595,9.519503,55.639033,3.802370,78.827799,180.314018,163.814437,17.288283,5.366906,12.952426
2,2019,SK Nürnberg,107,remote,DE.BY.NR,9564,11.082755,49.436211,25.380070,0.000000,12.515380,45.320180,0.000000,73.695480,160.340000,155.672500,15.367712,4.895583,11.517540
3,2019,LK Neumarkt i.d.OPf.,110,remote,DE.BY.NO,9373,11.566558,49.215961,15.709243,0.003532,8.176603,52.094916,2.182587,76.590555,179.684101,162.612711,16.092153,4.895583,12.269832
4,2019,SK Rosenheim,122,remote,DE.BY.RH,9163,12.108725,47.844378,17.524585,0.004127,8.682464,52.593257,2.410346,76.905136,179.772674,162.781687,16.414083,4.895583,12.485468

# Covid Data Preproc

## Keep only relevant features

In [37]:
covid_df = covid_df[['BL','county','EWZ','Shape__Area', 'death_rate', 'cases', 'deaths','cases_per_100k']]
covid_df.head()

,BL,county,EWZ,Shape__Area,death_rate,cases,deaths,cases_per_100k
0,Schleswig-Holstein,SK Flensburg,89934,4.918293e+07,1.223721,3187,39,3543.709832
1,Schleswig-Holstein,SK Kiel,246601,1.122314e+08,1.409469,8301,117,3366.166398
2,Schleswig-Holstein,SK Lübeck,215846,2.116771e+08,1.392355,7613,106,3527.051694
3,Schleswig-Holstein,SK Neumünster,79905,7.140224e+07,0.889996,2809,25,3515.424567
4,Schleswig-Holstein,LK Dithmarschen,133251,1.425511e+09,1.915323,2976,57,2233.379112

## Merge Berlin Counties

Pollution data-set considers Berlin as 1 county, whereas Covid dataset considers 11 counties within Berlin. Collapse 11 counties in Covid dataset into one to match pollution dataset.

In [42]:
berlin = covid_df[covid_df["BL"] == 'Berlin']
berlin.head()

,BL,county,EWZ,Shape__Area,death_rate,cases,deaths,cases_per_100k,deaths_per_100k
399,Berlin,SK Berlin Reinickendorf,259169,8.943665e+07,1.618289,19465,315,7510.543313,121.542314
400,Berlin,SK Berlin Charlottenburg-Wilmersdorf,315393,6.477450e+07,1.568608,20464,321,6488.412869,101.777782
401,Berlin,SK Berlin Treptow-Köpenick,272429,1.680052e+08,1.689394,13200,223,4845.299142,81.856190
402,Berlin,SK Berlin Pankow,403607,1.033630e+08,1.068934,21049,225,5215.221738,55.747299
403,Berlin,SK Berlin Neukölln,318128,4.499687e+07,1.522467,28375,432,8919.365790,135.794397

In [44]:
## Sum relevant features
berlin_sum = berlin[['Shape__Area', 'cases', 'deaths', 'EWZ']].sum()
berlin_sum

Shape__Area    8.933202e+08
cases          2.428130e+05
deaths         3.759000e+03
EWZ            3.657463e+06
dtype: float64

In [45]:
## Average relevant features
berlin_average = berlin[['death_rate','cases_per_100k']].mean()
berlin_average

death_rate            1.591636
cases_per_100k     6640.688066
deaths_per_100k     103.703091
dtype: float64

In [46]:
covid_df['county'][399] = 'Berlin'
covid_df['cases'][399] = berlin_sum.cases
covid_df['Shape__Area'][399] = berlin_sum.Shape__Area
covid_df['EWZ'][399] = berlin_sum.EWZ
covid_df['deaths'][399] = berlin_sum.deaths
covid_df['death_rate'][399] = berlin_average.death_rate
covid_df['cases_per_100k'][399] = berlin_average.cases_per_100k
covid_df.loc[399]

/var/folders/py/ydbm54f573b1ymf9x65hf0mm0000gn/T/ipykernel_31517/1544918202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['county'][399] = 'Berlin'
/var/folders/py/ydbm54f573b1ymf9x65hf0mm0000gn/T/ipykernel_31517/1544918202.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['cases'][399] = berlin_sum.cases
/var/folders/py/ydbm54f573b1ymf9x65hf0mm0000gn/T/ipykernel_31517/1544918202.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['Shape__Area'][399] = berlin_sum.Shape__Area
/var/folders/py/ydbm54f573b1ymf9x65hf0mm0000gn/T/ipykernel_31517/1544918202.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['EWZ'][399] = berlin_sum.EWZ
/var/folders/py/ydbm54f573b1ymf9x65hf0mm0000gn/T/ipykernel_31517/1544918202.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['deaths'][399] = berlin_sum.deaths
/var/folders/py/ydbm54f573b1ymf9x65hf0mm0000gn/T/ipykernel_31517/1544918202.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['death_rate'][399] = berlin_average.death_rate
/var/folders/py/ydbm54f573b1ymf9x65hf0mm0000gn/T/ipykernel_31517/1544918202.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['cases_per_100k'][399] = berlin_average.cases_per_100k
/var/folders/py/ydbm54f573b1ymf9x65hf0mm0000gn/T/ipykernel_31517/1544918202.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['deaths_per_100k'][399] = berlin_average.deaths_per_100k

BL                           Berlin
county                       Berlin
EWZ                         3657463
Shape__Area        893320245.521974
death_rate                 1.591636
cases                        242813
deaths                         3759
cases_per_100k          6640.688066
deaths_per_100k          103.703091
Name: 399, dtype: object

In [56]:
covid_df.drop(index=[400,401,402,403,404,405,406,407,408,409,410], axis=0, inplace=True)

In [57]:
covid_df.shape

(400, 11)

## Feature Engineering

### Create deaths per 100k feature

In [39]:
### EWZ is einwohnerzahl is population count
covid_df['deaths_per_100k'] = covid_df['deaths']/covid_df['EWZ']*100_000
covid_df.head()

,BL,county,EWZ,Shape__Area,death_rate,cases,deaths,cases_per_100k,deaths_per_100k
0,Schleswig-Holstein,SK Flensburg,89934,4.918293e+07,1.223721,3187,39,3543.709832,43.365134
1,Schleswig-Holstein,SK Kiel,246601,1.122314e+08,1.409469,8301,117,3366.166398,47.445063
2,Schleswig-Holstein,SK Lübeck,215846,2.116771e+08,1.392355,7613,106,3527.051694,49.109087
3,Schleswig-Holstein,SK Neumünster,79905,7.140224e+07,0.889996,2809,25,3515.424567,31.287153
4,Schleswig-Holstein,LK Dithmarschen,133251,1.425511e+09,1.915323,2976,57,2233.379112,42.776414

### Create Population Density features

divide number of people per county by area per county, multiply by 1 million to have result in number of people per square kilometer

In [50]:
covid_df['Population density'] = covid_df['EWZ']/covid_df['Shape__Area']*1_000_000

### Create vaccination rate feature

In [51]:
covid_df['BL'].unique()

array(['Schleswig-Holstein', 'Hamburg', 'Niedersachsen', 'Bremen',
       'Nordrhein-Westfalen', 'Hessen', 'Rheinland-Pfalz',
       'Baden-Württemberg', 'Bayern', 'Saarland', 'Brandenburg',
       'Mecklenburg-Vorpommern', 'Sachsen', 'Sachsen-Anhalt', 'Thüringen',
       'Berlin'], dtype=object)

In [53]:
### Map vaccinationrate per bundesland to the dataset
d = {'Berlin': 0.688, 'Rheinland-Pfalz': 0.678, 'Bayern': 0.663, 'Baden-Württemberg': 0.662,
       'Thüringen': 0.621, 'Sachsen-Anhalt': 0.645, 'Niedersachsen': 0.699, 'Brandenburg': 0.617,
       'Sachsen': 0.578, 'Hessen': 0.672, 'Nordrhein-Westfalen': 0.715, 'Schleswig-Holstein': 0.725,
       'Mecklenburg-Vorpommern': 0.665, 'Saarland':0.746, 'Bremen': 0.797, 'Hamburg':0.738}

In [54]:
covid_df['Fully vaccinated'] = covid_df['BL'].map(d)
covid_df

,BL,county,EWZ,Shape__Area,death_rate,cases,deaths,cases_per_100k,deaths_per_100k,Population density,Fully vaccinated
0,Schleswig-Holstein,SK Flensburg,89934,4.918293e+07,1.223721,3187,39,3543.709832,43.365134,1828.561262,0.725
1,Schleswig-Holstein,SK Kiel,246601,1.122314e+08,1.409469,8301,117,3366.166398,47.445063,2197.254026,0.725
2,Schleswig-Holstein,SK Lübeck,215846,2.116771e+08,1.392355,7613,106,3527.051694,49.109087,1019.694565,0.725
3,Schleswig-Holstein,SK Neumünster,79905,7.140224e+07,0.889996,2809,25,3515.424567,31.287153,1119.082513,0.725
4,Schleswig-Holstein,LK Dithmarschen,133251,1.425511e+09,1.915323,2976,57,2233.379112,42.776414,93.475981,0.725
...,...,...,...,...,...,...,...,...,...,...,...
406,Berlin,SK Berlin Spandau,238922,9.294042e+07,1.444666,18551,268,7764.458694,112.170499,2570.700576,0.688
407,Berlin,SK Berlin Steglitz-Zehlendorf,290866,1.026872e+08,2.656722,16223,431,5577.482415,148.178199,2832.544626,0.688
408,Berlin,SK Berlin Mitte,374232,3.945211e+07,1.156393,30353,351,8110.744137,93.792086,9485.729581,0.688
409,Berlin,SK Berlin Friedrichshain-Kreuzberg,278936,2.042866e+07,0.838055,21001,176,7528.967218,63.096911,13654.153428,0.688
410,Berlin,SK Berlin Tempelhof-Schöneberg,340483,5.312295e+07,2.069989,23575,488,6923.987394,143.325805,6409.339065,0.688

# Pollution Data Preproc

## Keep only 'average' scenario

3 scenarios (rural, urban, average): average combines rural and urban > keep only average

In [66]:
pollution_df.shape

(12060, 19)

In [67]:
pollution_df = pollution_df[pollution_df.scenario == 'average']
pollution_df.shape

(4020, 19)

## Match counties to Covid

Counties were present during 2010-2019 (pollution dataset), but were later merged and are therefore not present in covid dataset (2021)

In [68]:
pollution_df = pollution_df[pollution_df.county != 'Eisenach']
pollution_df.shape

(4010, 19)

In [69]:
pollution_df = pollution_df[pollution_df.county != 'Osterode am Harz']
pollution_df.shape

(4000, 19)

## Keep relevant features only

In [70]:
pollution_df.columns

Index(['year', 'county', 'kreis_code', 'scenario', 'ISO_code',
       'Kreis_Scluessel', 'Lon', 'Lat', 'NO2_annualMean', 'NO2_hrOver200',
       'NO_annualMean', 'O3_annualMean', 'O3_daysOver120',
       'O3_dailyMaxAnnualMean', 'O3_dailyHourlyMax', 'O3_daily8HrMax',
       'PM10_annualMean', 'PM10_daysOver50', 'PM2.5_annualMean'],
      dtype='object')

In [71]:
pollution_df = pollution_df[['county', 'year', 'NO2_annualMean', 'NO2_hrOver200', 'NO_annualMean',
       'O3_annualMean', 'O3_daysOver120', 'O3_dailyMaxAnnualMean',
       'O3_dailyHourlyMax', 'O3_daily8HrMax', 'PM10_annualMean',
       'PM10_daysOver50', 'PM2.5_annualMean']]

## Sort per county and year

In [73]:
pollution_df.sort_values(['county','year'], axis=0, ascending=True,inplace=True,ignore_index=True)
pollution_df.head()

,county,year,NO2_annualMean,NO2_hrOver200,NO_annualMean,O3_annualMean,O3_daysOver120,O3_dailyMaxAnnualMean,O3_dailyHourlyMax,O3_daily8HrMax,PM10_annualMean,PM10_daysOver50,PM2.5_annualMean
0,Berlin,2010,21.33097,0.0,4.689645,48.14162,1.321674,75.383964,179.320467,161.912580,25.21095,30.28571,20.56858
1,Berlin,2011,21.10792,0.0,5.591758,46.78272,1.405013,75.515257,179.361973,161.986524,22.83172,25.57143,20.17655
2,Berlin,2012,20.65600,0.0,5.372472,45.26885,1.513209,75.685711,179.415858,162.082523,20.53782,11.00000,17.18541
3,Berlin,2013,19.16632,0.0,4.376160,47.91164,0.142857,73.145140,171.855700,157.565400,21.05746,13.00000,15.83933
4,Berlin,2014,20.46666,0.0,15.755060,47.80345,0.000000,71.659810,181.968600,166.539500,24.20021,22.00000,19.77463

# Merge Covid and Pollution Data

In [74]:
merge_df = pollution_df.merge(covid_df, how = 'inner', on='county')
merge_df.shape

(4000, 23)

In [76]:
merge_df.columns

Index(['county', 'year', 'NO2_annualMean', 'NO2_hrOver200', 'NO_annualMean',
       'O3_annualMean', 'O3_daysOver120', 'O3_dailyMaxAnnualMean',
       'O3_dailyHourlyMax', 'O3_daily8HrMax', 'PM10_annualMean',
       'PM10_daysOver50', 'PM2.5_annualMean', 'BL', 'EWZ', 'Shape__Area',
       'death_rate', 'cases', 'deaths', 'cases_per_100k', 'deaths_per_100k',
       'Population density', 'Fully vaccinated'],
      dtype='object')

In [77]:
merge_df = merge_df.rename(columns={'PM2.5_annualMean': 'PM2_5_annualMean'})

In [78]:
merge_df = merge_df[['county', 'year', 'NO2_annualMean', 'NO2_hrOver200', 'NO_annualMean',
       'O3_annualMean', 'O3_daysOver120', 'O3_dailyMaxAnnualMean',
       'O3_dailyHourlyMax', 'O3_daily8HrMax','cases_per_100k', 'deaths_per_100k',
       'Population density', 'Fully vaccinated']]