In [1]:
import pandas as pd
import numpy as np

In [4]:
df_f = pd.read_csv('../lung_pollution/data/final_all_counties.csv',error_bad_lines=False,delimiter=';',decimal=',' )

In [5]:
df_f.to_csv('../lung_pollution/data/finalfinal_counties.csv')

In [6]:
df_ff=pd.read_csv('../lung_pollution/data/finalfinal_counties.csv')

In [8]:
type(df_ff)

pandas.core.frame.DataFrame

In [ ]:
# now take mean of every countypollutants

In [91]:
df_ff.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Column1', 'id', 'county_new', 'county',
       'year', 'NO2_annualMean', 'NO2_hrOver200', 'NO_annualMean',
       'O3_annualMean', 'O3_daysOver120', 'O3_dailyMaxAnnualMean',
       'O3_dailyHourlyMax', 'O3_daily8HrMax', 'PM10_annualMean',
       'PM10_daysOver50', 'PM2_5_annualMean', 'BL', 'EWZ', 'Shape__Area',
       'death_rate', 'cases', 'deaths', 'cases_per_100k', 'deaths_per_100k',
       'fully_vaccinated', 'Population_density', 'NO2_totMean'],
      dtype='object')

In [ ]:
no2=df_ff['NO2_annualMean']

np.mean(no2)
for i in df_ff['county'].unique():
    df_ff['NO2_totMean']  =  np.mean(no2)

In [ ]:
df_ff.columns

In [ ]:
# create new columns with mean values for every pollutants for every county

In [ ]:
df_ff.head(10)

In [14]:
df_ff['NO2_totMean'] = np.zeros(df_ff.shape[0])
df_ff.head()

,Unnamed: 0,Unnamed: 0.1,Column1,id,county_new,county,year,NO2_annualMean,NO2_hrOver200,NO_annualMean,...,EWZ,Shape__Area,death_rate,cases,deaths,cases_per_100k,deaths_per_100k,fully_vaccinated,Population_density,NO2_totMean
0,0,0.0,0.0,157,Berlin,Berlin,2010,21.33097,0.0,4.689645,...,259169,893320245.5,1.591636,242813,3759,6640.688066,103.703091,0.688,290.118803,0.0
1,1,1.0,1.0,157,Berlin,Berlin,2011,21.10792,0.0,5.591758,...,259169,893320245.5,1.591636,242813,3759,6640.688066,103.703091,0.688,290.118803,0.0
2,2,2.0,2.0,157,Berlin,Berlin,2012,20.65600,0.0,5.372472,...,259169,893320245.5,1.591636,242813,3759,6640.688066,103.703091,0.688,290.118803,0.0
3,3,3.0,3.0,157,Berlin,Berlin,2013,19.16632,0.0,4.376160,...,259169,893320245.5,1.591636,242813,3759,6640.688066,103.703091,0.688,290.118803,0.0
4,4,4.0,4.0,157,Berlin,Berlin,2014,20.46666,0.0,15.755060,...,259169,893320245.5,1.591636,242813,3759,6640.688066,103.703091,0.688,290.118803,0.0

In [84]:
for county in df_ff['county'].unique():
    a=df_ff[df_ff['county'].isin([county])]
    inds =df_ff['county'].isin([county])
    b = np.unique(a['NO2_annualMean'].mean())
    df_ff.at[inds,'NO2_totMean']=b[0]

In [89]:
## create it for the pthers

In [92]:
df_ff['NO_totMean'] = np.zeros(df_ff.shape[0])

In [93]:
for county in df_ff['county'].unique():
    a=df_ff[df_ff['county'].isin([county])]
    inds =df_ff['county'].isin([county])
    b = np.unique(a['NO_annualMean'].mean())
    df_ff.at[inds,'NO_totMean']=b[0]

In [97]:
df_ff['O3_totMean'] = np.zeros(df_ff.shape[0])

In [98]:
for county in df_ff['county'].unique():
    a=df_ff[df_ff['county'].isin([county])]
    inds =df_ff['county'].isin([county])
    b = np.unique(a['O3_annualMean'].mean())
    df_ff.at[inds,'03_totMean']=b[0]

In [99]:
df_ff['PM10_totMean'] = np.zeros(df_ff.shape[0])

In [100]:
for county in df_ff['county'].unique():
    a=df_ff[df_ff['county'].isin([county])]
    inds =df_ff['county'].isin([county])
    b = np.unique(a['PM10_annualMean'].mean())
    df_ff.at[inds,'PM10_totMean']=b[0]

In [101]:

df_ff['PM2_5_totMean'] = np.zeros(df_ff.shape[0])

In [102]:
for county in df_ff['county'].unique():
    a=df_ff[df_ff['county'].isin([county])]
    inds =df_ff['county'].isin([county])
    b = np.unique(a['PM2_5_annualMean'].mean())
    df_ff.at[inds,'PM2_5_totMean']=b[0]

In [103]:
df_ff.head()

,Unnamed: 0,Unnamed: 0.1,Column1,id,county_new,county,year,NO2_annualMean,NO2_hrOver200,NO_annualMean,...,cases_per_100k,deaths_per_100k,fully_vaccinated,Population_density,NO2_totMean,NO_totMean,O3_totMean,03_totMean,PM10_totMean,PM2_5_totMean
0,0,0.0,0.0,157,Berlin,Berlin,2010,21.33097,0.0,4.689645,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
1,1,1.0,1.0,157,Berlin,Berlin,2011,21.10792,0.0,5.591758,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
2,2,2.0,2.0,157,Berlin,Berlin,2012,20.65600,0.0,5.372472,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
3,3,3.0,3.0,157,Berlin,Berlin,2013,19.16632,0.0,4.376160,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
4,4,4.0,4.0,157,Berlin,Berlin,2014,20.46666,0.0,15.755060,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552

In [104]:
final_df = df_ff.copy()

In [106]:
final_df.to_csv('../lung_pollution/data/final_smean.csv')

In [108]:
final_df.head(20)

,Unnamed: 0,Unnamed: 0.1,Column1,id,county_new,county,year,NO2_annualMean,NO2_hrOver200,NO_annualMean,...,cases_per_100k,deaths_per_100k,fully_vaccinated,Population_density,NO2_totMean,NO_totMean,O3_totMean,03_totMean,PM10_totMean,PM2_5_totMean
0,0,0.0,0.0,157,Berlin,Berlin,2010,21.330970,0.000000,4.689645,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
1,1,1.0,1.0,157,Berlin,Berlin,2011,21.107920,0.000000,5.591758,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
2,2,2.0,2.0,157,Berlin,Berlin,2012,20.656000,0.000000,5.372472,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
3,3,3.0,3.0,157,Berlin,Berlin,2013,19.166320,0.000000,4.376160,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
4,4,4.0,4.0,157,Berlin,Berlin,2014,20.466660,0.000000,15.755060,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
5,5,5.0,5.0,157,Berlin,Berlin,2015,20.245600,0.000000,18.445860,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
6,6,6.0,6.0,157,Berlin,Berlin,2016,20.752390,0.000000,17.180510,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
7,7,7.0,7.0,157,Berlin,Berlin,2017,19.836380,0.000000,15.124530,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
8,8,8.0,8.0,157,Berlin,Berlin,2018,19.327210,0.000000,16.150140,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
9,9,9.0,9.0,157,Berlin,Berlin,2019,17.377880,0.000000,4.629303,...,6640.688066,103.703091,0.688,290.118803,20.026733,10.731544,0.0,49.340399,21.199402,16.652552
10,10,10.0,10.0,304,Ahrweiler,LK Ahrweiler,2010,18.636640,0.007228,12.197937,...,4858.253052,49.050039,0.678,165.845948,17.739114,10.618700,0.0,49.786804,17.690835,13.142301
11,11,11.0,11.0,304,Ahrweiler,LK Ahrweiler,2011,18.538501,0.007175,12.091143,...,4858.253052,49.050039,0.678,165.845948,17.739114,10.618700,0.0,49.786804,17.690835,13.142301
12,12,12.0,12.0,304,Ahrweiler,LK Ahrweiler,2012,17.971012,0.006868,10.782348,...,4858.253052,49.050039,0.678,165.845948,17.739114,10.618700,0.0,49.786804,17.690835,13.142301
13,13,13.0,13.0,304,Ahrweiler,LK Ahrweiler,2013,17.727613,0.006736,10.878183,...,4858.253052,49.050039,0.678,165.845948,17.739114,10.618700,0.0,49.786804,17.690835,13.142301
14,14,14.0,14.0,304,Ahrweiler,LK Ahrweiler,2014,17.828909,0.006791,10.558140,...,4858.253052,49.050039,0.678,165.845948,17.739114,10.618700,0.0,49.786804,17.690835,13.142301
15,15,15.0,15.0,304,Ahrweiler,LK Ahrweiler,2015,17.379866,0.006548,10.130898,...,4858.253052,49.050039,0.678,165.845948,17.739114,10.618700,0.0,49.786804,17.690835,13.142301
16,16,16.0,16.0,304,Ahrweiler,LK Ahrweiler,2016,17.762098,0.006755,9.955718,...,4858.253052,49.050039,0.678,165.845948,17.739114,10.618700,0.0,49.786804,17.690835,13.142301
17,17,17.0,17.0,304,Ahrweiler,LK Ahrweiler,2017,17.449716,0.006586,10.145370,...,4858.253052,49.050039,0.678,165.845948,17.739114,10.618700,0.0,49.786804,17.690835,13.142301
18,18,18.0,18.0,304,Ahrweiler,LK Ahrweiler,2018,17.343010,0.006528,9.738563,...,4858.253052,49.050039,0.678,165.845948,17.739114,10.618700,0.0,49.786804,17.690835,13.142301
19,19,19.0,19.0,304,Ahrweiler,LK Ahrweiler,2019,16.753773,0.006209,9.708700,...,4858.253052,49.050039,0.678,165.845948,17.739114,10.618700,0.0,49.786804,17.690835,13.142301